*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    
    width: 1110px;
    height: 679px;

}

main{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-color: #EEF9BF;
}

header{
    margin-top: 40px;
    margin-bottom: 47px;
}

button{
    background-color: #75B79E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-top: 150px;
}

.titulo{
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;

    color: #75B79E;
}

.none{
    display: none;
}

.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;

}

img{
    width: 100px;
    height: 100px;
    margin: auto auto;
}

.jogoIniciado{
    width: 872px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 34px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.virar .back-face {
    transform: rotateY(0deg);
}

.virar .front-face {
    transform: rotateY(-180deg);
}
.virada .back-face {
    transform: rotateY(0deg);
}

.virada .front-face {
    transform: rotateY(-180deg);
}

@media (max-width: 335px){

    body{
        width: 335px;
        height: 400vh;
    }

    main{
        width: 335px;
    }

    

    .titulo{
    width: 250px;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.004em;
    text-align: center;

    }

    .jogoIniciado{
        width: 200px;
        display: flex;
        flex-wrap: wrap;
    }


}